.App {
  text-align: center;
}

.control{
  display: flex;
  justify-content: space-evenly;
  background-color: azure;
  max-width: 70vw;
  margin: auto;
}

.arrow {
  margin:0 5%;
  cursor: pointer;
}
.controls{
  margin: 5px 1%;
  cursor: pointer;
}

.breakControl, .sessionControl{
  width: 50%;
}

.mainTimmer{
  display: flex;
  flex-direction: column;
  border: 1px black solid;
  max-width: 20%;
  margin: 2% auto 1% auto;
  border-radius: 10px;
}